<!DOCTYPE html>
<html>
  <head>
    <title>Megaphone Online</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLYJ7Wae6vo7MKEzb-VP2sDskTgAtYO3o&callback=initMap"
    async defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
